<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #container {
    display: flex;
    justify-content: center;
  }
  #holder {
    display: flex;
    flex-direction: column;
  }
  #selecter {
    display: flex;
    justify-content: center;
  }
  
  table,
  td,
  th {
    margin: 20px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  td {
    padding: 10px;
  }
  th {
    background-color: #323333;
    color: white;
    padding: 10px;
  }
  h1 {
    text-align: center;
    text-decoration: underline;
  }
  p {
    font-size: medium;
  }
  .container {
    display: flex;
    justify-content: left;
  }
  .navigation {
    display: flex;
  }
  .submit {
    background-color: lightgreen;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  #view {
    margin: 20px;
  
    border: none;
    height: 30px;
    width: 100px;
    background-color: lightskyblue;
    font-size: large;
  }
  #viewDiv {
    display: flex;
    justify-content: center;
  }
  #upper {
    display: flex;
    justify-content: space-between;
  }
  .form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .formdiv {
    display: flex;
    justify-content: center;
  }
  #form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .count {
    padding: 0 10px;
  }
  .input {
    margin: 10px;
    width: 700px;
    height: 45px;
    font-size: large;
  }
  .fields {
    display: flex;
  
    flex-direction: column;
    text-align: center;
  }
  #moreBlock {
    visibility: hidden;
  }
  button {
    margin: 0 10px;
  }
  
  a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: blue;
  }
  
  a:active {
    color: black;
  }
  a {
    text-decoration: none;
  }
  form {
    display: flex;
    align-items: center;
  }
  table tr th{
            color: white;
            background-color: #0069d9;
            text-align: center;
            vertical-align: middle;
            }
            table {
            margin: auto;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 10px;

            }
    </style>
  </head>
  <body>
    <div id="container">
      <div class="holder">
        <div id="form1" class="form">
          <center><h3>Shivam Limbachiya</h3></center>
          <form class="formdiv" action="/delsearch" method="POST">
            <input
              class="input"
              type="text"
              name="input"
              tabindex="1"
              value="<%=body%>"
              autofocus
            />
            <input class="submit" type="submit" value="GO!" />
          </form>
          <div class="formdiv">
            <pre>_FirstName   $LastName   {Email   }City  </pre>
          </div>
        </div>

        <%try {%>
        <div class="table">
          <table border="1">
            <tr>
              <%cols.forEach((col)=>{%>
              <th>
                <div><%=col%></div>
              </th>
              <%});%>
            </tr>

            <%result.forEach((element) => {%>
            <tr>
              <%for (let i = 0; i < cols.length; i++) {%>
              <td><%=Object.values(element)[i]%></td>
              <%}%>
            </tr>
            <%});%>
          </table>
        </div>

        <%} catch (error) {%>
        <center><h2 style="color: red">Data Not Found</h2></center>
        <%}%>
      </div>
    </div>
  </body>
</html>