<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/orderBy?sortBy=lname&order=asc">orderBy lname asc</a>
        <a class="dropdown-item" href="/orderBy?sortBy=lname&order=desc">orderBy lname desc</a>
        <a class="dropdown-item" href="/orderBy?sortBy=fname&order=asc">orderBy fname asc</a>
        <a class="dropdown-item" href="/orderBy?sortBy=fname&order=desc">orderBy fname desc </a>
        <a class="dropdown-item" href="/orderBy?sortBy=city&order=asc">orderBy city</a>
        <a class="dropdown-item" href="/orderBy?sortBy=city&order=desc">orderBy city desc</a>
        <a class="dropdown-item" href="/orderBy?sortBy=countrycode&order=asc">orderBy countrycode</a>
        <a class="dropdown-item" href="/orderBy?sortBy=countrycode&order=desc">orderBy countrycode desc</a>
        <a class="dropdown-item" href="/orderBy?sortBy=age&order=asc">orderBy age desc</a>
        <a class="dropdown-item" href="/orderBy?sortBy=age&order=desc">orderBy age desc</a>
        <a class="dropdown-item" href="/list">Simple List</a>
    </div>
</div>