<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practcal 3</title>
    <link rel="stylesheet" href="/public/p3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link   href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet"
  />
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <a href="#home">
                        <img class="logo" src="/public/assets/HireX_black.png" alt="">
                </a>
                <nav>
                    <ul>
                        <li><a href="#works">Works</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#pricing">Blogs</a></li>
                        <li><a href="#community">FAQs</a></li>
                        <li><a href="#community">Contact us</a></li>
                        <button class="btn">We’re Hiring <img src="/public/assets/arrow-right.svg" alt=""> </button>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="section herosection" id="home">
            <div class="container">
                <div class="templet">
                    <div class="temptitle">
                        <div class="weldiv">
                            <p> <b>WELCOME TO HIREX.</b> </p>
                            <img src="/public/assets/Star 1.png" alt="">
                        </div>
                        <div class="headtemp">
                            <h1>
                                Award Winning Digital Agency.
                            </h1>
                            <p>
                                Digital Agency offering unique solutions to create digital presence and increase your sales.
                            </p>
                        </div>
                        <form action="">
                            <div class="forminp">
                                <input class="email" type="text" placeholder="Your email address">
                                <input class="reqbtn" type="submit" value="Request access">
                            </div>
                        </form>
                        <div class="cmtimg">
                            <img class="cmtbox" src="/public/assets/Rectangle 7.png" alt="">
                            <p class="cmttxt">Open account and get 5 boxes</p>
                        </div>
                    </div>
                    <div class="temphero">
                        <div class="heroimg1 herimg">
                            <img class="cirimg" src="/public/assets/image 2 (Traced).png" alt="">
                            <p class="herocirtxt">Web Design</p>
                        </div>
                        <div class="heroimg2 herimg">
                            <img class="halfcirimg" src="/public/assets/image 6 (Traced).png" alt="">
                            <p class="herocirtxt">Social Midia</p>                            
                        </div>
                        <div class="heroimg3 herimg">
                            <p class="sqtxt">UIX Design</p>                            
                            <img class="sqimg" src="/public/assets/image 1 (Traced).png" alt="">
                        </div>
                        <img class="btimghero" src="/public/assets/Group 6.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section herosection ">
                <div class="scrollmarque">
                    <div class="container ">
                        <div class="cs-mm" style="animation-duration: 27s;">
                            <ul class="marqcontent cs-marques">
                                <li>
                                    <span>GET ACCESS NOW! </span>
                                    <img src="/public/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                                </li>
                                <li>
                                    <span>GET ACCESS NOW! </span>
                                    <img src="/public/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                                </li>
                                <li>
                                    <span>GET ACCESS NOW! </span>
                                    <img src="/public/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                                </li>
                                <li>
                                    <span>GET ACCESS NOW! </span>
                                    <img src="/public/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                                </li>
                                <li>
                                    <span>GET ACCESS NOW! </span>
                                    <img src="/public/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                                </li>
                                <li>
                                    <span>GET ACCESS NOW! </span>
                                    <img src="/public/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                                </li>
                                <li>
                                    <span>GET ACCESS NOW! </span>
                                    <img src="/public/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>
        </section>
        <section class="section herosection">
            <div class="container">
                <div class="services">
                    <div class="txtgrp">
                        <p class="secsmll">Services</p>
                        <h2 class="sectiontitle">How Hirex. Work</h2>
                        <p class="secsmllpara">The awesome people who makes all this possible</p>
                    </div>
                    <div class="rows">
                        <div class="cols">
                            <div class="card">
                                <div class="txtgrp">
                                    <p>START HERE</p>
                                    <p class="cardttl">Who we are & what we do</p>
                                </div>                                    
                                <img class="cardimg" src="/public/assets/Designer _Flatline 1.png" alt="">
                                <button class="cardbtn greenbtn">START HERE <img src="/public/assets/arrow-right.svg" alt=""></button>
                            </div>
                        </div>
                        <div class="cols">
                            <div class="card">
                                <div class="txtgrp">
                                    <p>CUSTOM DESIGN</p>
                                    <p class="cardttl">We’ll design your  projects</p>
                                </div>
                                <img class="cardimg" src="/public/assets/Notifications_Flatline 1.png" alt="">
                                <button class="cardbtn yellobtn">START HERE <img src="/public/assets/arrow-right.svg" alt=""></button>
                            </div>
                        </div>
                        <div class="cols">
                            <div class="card">
                                <div class="txtgrp">
                                    <p>CONTACT US</p>
                                    <p class="cardttl">Drop us your message!</p>
                                </div>
                                <img class="cardimg" src="/public/assets/Fortnite_Two Color 1.png" alt="">
                                <button class="cardbtn orangebtn">START HERE <img src="/public/assets/arrow-right.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section herosection">
            <div class="container">
                <div class="works">
                    <div class="txtgrp">
                        <p class="secsmll worksblu">Works</p>
                        <h2 class="sectiontitle">Find our latetest works</h2>
                        <p class="secsmllpara">The awesome people who makes all this possible</p>
                </div>
                <div class="worktasks">
                    <div class="taskcard">
                        <div class="taskcardimg">
                            <img class="blgimg" src="/public/assets/Rectangle 13.png" alt="">
                        </div>
                        <div class="taskinfo">
                            <button class="genbtn">Web design</button>
                            <div class="tasktxt">
                                <p class="taskcardtitle">Website Design For Digital Agency</p>
                                <p>Build a unique Website with HireX Template</p>
                                <a class="redmore" href="">Read more <img src="/public/assets/arrow-right-black.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="taskcard">
                        <div class="taskcardimg">
                            <img class="blgimg" src="/public/assets/Rectangle 13-1.png" alt="">
                        </div>
                        <div class="taskinfo">
                            <button class="genbtn">3D Design</button>
                            <div class="tasktxt">
                                <p class="taskcardtitle">Realistic 3d Model of Living Room</p>
                                <p>Build a unique Website with HireX Template</p>
                                <a class="redmore" href="">Read more <img src="/public/assets/arrow-right-black.svg" alt=""></a>
                                <button class="cardbtn yellobtn blogbtnview">View All <img src="/public/assets/arrow-right.svg" alt=""></button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section herosection">
            <div class="container">
                <div class="prices">
                    <div class="txtgrp">
                        <h2 class="sectiontitle">Plans & Pricing</h2>
                        <p class="secsmllpara">The awesome people who makes all this possible</p>
                    </div>
                    <div class="rows">
                        <div class="cols">
                            <div class="card pricard">
                                <div class="txtgrp">
                                    <p class="pricardttl">FREE</p>
                                    <div class="permonthp">
                                        <p class="prittlinusd">$O </p><span class="subs">/MONTH</span>
                                    </div>
                                    <p>Get powerful tools to make your business grow</p>
                                </div> 
                                <hr>   
                                <ul class="priceferlul">
                                    <li><i class="fa-solid fa-check"></i>Free forever get the basic essentials</li>
                                    <li><i class="fa-solid fa-check"></i>Advanced security and performance</li>
                                    <li><i class="fa-solid fa-check"></i>Unlimited unhosted sites</li>
                                    <li><i class="fa-solid fa-check"></i>Live support</li>
                                </ul>
                                <button class="pricardbtn yellobtn pribtn ">GET STARTED</button>
                            </div>
                        </div>
                        <div class="cols">
                            <div class="card pricard">
                                <div class="txtgrp">
                                    <p class="pricardttl">BASIC</p>
                                    <div class="permonthp">
                                        <p class="prittlinusd">$19 </p><span class="subs">/MONTH</span>
                                    </div>
                                    <p>Get powerful tools to make your business grow</p>
                                </div>
                                <hr>
                                <ul class="priceferlul">
                                    <li><i class="fa-solid fa-check"></i>Free forever get the basic essentials</li>
                                    <li><i class="fa-solid fa-check"></i>Advanced security and performance</li>
                                    <li><i class="fa-solid fa-check"></i>Unlimited unhosted sites</li>
                                    <li><i class="fa-solid fa-check"></i>Live support</li>
                                </ul>
                                <button class="pricardbtn orangebtn pribtn">GET STARTED</button>
                            </div>
                        </div>
                        <div class="cols">
                            <div class="card pricard">
                                <div class="txtgrp">
                                    <p class="pricardttl">PRO</p>
                                    <div class="permonthp">
                                        <p class="prittlinusd">$99 </p><span class="subs">/MONTH</span>
                                    </div>
                                    <p>Get powerful tools to make your business grow</p>
                                </div>
                                <hr>    
                                <ul class="priceferlul">
                                    <li><i class="fa-solid fa-check"></i>Free forever get the basic essentials</li>
                                    <li><i class="fa-solid fa-check"></i>Advanced security and performance</li>
                                    <li><i class="fa-solid fa-check"></i>Unlimited unhosted sites</li>
                                    <li><i class="fa-solid fa-check"></i>Live support</li>
                                </ul>
                                <button class="pricardbtn greenbtn pribtn">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section perrev">
            <div class="container">
            <div class="sliderplatform">
                <div class="slidebtn" id="prevbtn"><img src="/public/assets/arrow-left-2.png" alt=""></div>
                <div class="slideblocks">
                    <div class="costfeed">
                        <div class="costcard">
                            <img class="costimg" src="/public/assets/testimonials-img.png" alt="">
                            <div class="costconn">
                                <p class="costusername">@abc.xyz</p>
                                <button class="connbtn"><img src="/public/assets/arrow_top-right.png" alt=""></button>
                            </div>
                        </div>
                        <div class="costquot">
                            <div class="txtquot">
                                We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds    
                            </div>
                            <div class="basicinfo">
                                Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slideblocks" style="background-color: violet;">
                    <div class="costfeed">
                        <div class="costcard">
                            <img class="costimg" src="/public/assets/testimonials-img.png" alt="">
                            <div class="costconn">
                                <p class="costusername">@abc.xyz</p>
                                <button class="connbtn"><img src="/public/assets/arrow_top-right.png" alt=""></button>
                            </div>
                        </div>
                        <div class="costquot">
                            <div class="txtquot">
                                We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds    
                            </div>
                            <div class="basicinfo">
                                Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slideblocks" style="background-color: blue;">
                    <div class="costfeed">
                        <div class="costcard">
                            <img class="costimg" src="/public/assets/testimonials-img.png" alt="">
                            <div class="costconn">
                                <p class="costusername">@abc.xyz</p>
                                <button class="connbtn"><img src="/public/assets/arrow_top-right.png" alt=""></button>
                            </div>
                        </div>
                        <div class="costquot">
                            <div class="txtquot">
                                We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds    
                            </div>
                            <div class="basicinfo">
                                Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slideblocks" style="background-color: white;">
                    <div class="costfeed">
                        <div class="costcard">
                            <img class="costimg" src="/public/assets/testimonials-img.png" alt="">
                            <div class="costconn">
                                <p class="costusername">@abc.xyz</p>
                                <button class="connbtn"><img src="/public/assets/arrow_top-right.png" alt=""></button>
                            </div>
                        </div>
                        <div class="costquot">
                            <div class="txtquot">
                                We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds    
                            </div>
                            <div class="basicinfo">
                                Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slidebtn" id="nextbtn"><img src="/public/assets/arrow-right-2.png" alt=""></div>
            
            </div>
            </div>
        </section>
        <section class="section herosection">
            <div class="container">
                <div class="blog">
                    <div class="">
                        <p class="blgsmlpara">Blog</p>
                        <h2 class="sectiontitle">Stay updated</h2>
                </div>
                <div class="blogrow">
                    <div class="taskcard blogcard">
                        <div class="taskcardimg">
                            <img class="blgimg" src="/public/assets/Rectangle 19.png" alt="">
                        </div>
                        <div class="taskinfo">
                            <button class="genbtn">Web design</button>
                            <div class="tasktxt">
                                <p class="taskcardtitle">Website Design For Digital Agency</p>
                                <p>Build a unique Website with HireX Template</p>
                                <a class="redmore" href="">Read more <img src="/public/assets/arrow-right-black.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="taskcard blogcard">
                        <div class="taskcardimg">
                            <img class="blgimg" src="/public/assets/Rectangle 20.png" alt="">
                        </div>
                        <div class="taskinfo">
                            <button class="genbtn">3D Design</button>
                            <div class="tasktxt">
                                <p class="taskcardtitle">Realistic 3d Model of Living Room</p>
                                <p>Build a unique Website with HireX Template</p>
                                <a class="redmore" href="">Read more <img src="/public/assets/arrow-right-black.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section conntussec">
            <div class="container">
                <div class="contactcontainer">
                    <div class="connectform">
                        <h2 class="formtitle">Get our latests news & updates</h2>
                        <div class="formcontect">
                            <form action="">
                                <input type="text" class="inp" placeholder="NAME">
                                <input type="text" class="inp" placeholder="EMAIL">
                                <input type="submit" class="inp" value="SUBSCRIBE">
                            </form>
                        </div>
                    </div>
                    <div class="formpara">
                        <p>We select to practice in Minerva since it is both useful and commonsense, and our clients basically adore it</p>
                        <button class="genbtn paraformbtn">Book a Call</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="marksec">
            <div class="scrollmarque">
                <div class="container ">
                    <div class="mainmarq">
                        <div class="thankmarq ">
                            <img class="thankimg" src="/public/assets/Group 59.png" alt=""> 
                            <span>THANK YOU FOR YOUR VISIT</span>
                            <img class="thankimg" src="/publicassets/Line 4.png" alt=""> 
                        </div>
                        <div class="thankmarq ">
                            <img class="thankimg" src="/public/assets/Group 59.png" alt=""> 
                            <span>THANK YOU FOR YOUR VISIT</span>
                            <img class="thankimg" src="/publicassets/Line 4.png" alt=""> 
                        </div>
                        <div class="thankmarq">
                            <img class="thankimg" src="/public/assets/Group 59.png" alt=""> 
                            <span>THANK YOU FOR YOUR VISIT</span>
                            <img class="thankimg" src="/publicassets/Line 4.png" alt=""> 
                        </div>  
                    </div>
                </div>
            </div>
    </section>
    </main>
    <footer>
        <div class="container section">
            <div class="footersec">
                <div class="footheader">
                    <img class="flogo" src="/public/assets/HireX_black.png" alt="">
                <hr>
                </div>
                <div class="footfooter">
                    <div class="frows">
                        <div class="fcols">
                            <div class="fcard">
                                <p class="fcardtitle">Product</p>
                            <ul class="fcardlist">
                                <li>Platform</li>
                                <li>Store Overview</li>
                                <li>Email Reports</li>
                                <li>Portfolio</li>
                            </ul>
                            </div>
                        </div>
                        <div class="fcols">
                            <div class="fcard">
                                <p class="fcardtitle">Resources</p>
                            <ul class="fcardlist">
                                <li>Case Studies</li> 
                                <li>Product Guides</li> 
                                <li>Reports</li>
                                <li>Blog</li>
                                <li>FAQ</li>
                            </ul>
                            </div>
                        </div>
                        <div class="fcols">
                            <div class="fcard">
                                <p class="fcardtitle">Company</p>
                            <ul class="fcardlist">
                                <li>Careers</li>
                                <li>Contact Sales</li>
                                <li>Contact Support</li>
                            </ul>
                            </div>
                        </div>
                        <div class="fcols">
                            <div class="fcard">
                                <p class="fcardtitle">Partners</p>
                            <ul class="fcardlist">
                                <li>Partner With Us</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copy">
                        <p>Terms and Conditions Privacy Policy</p>
                        <p>©HIREX, Inc. 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
            var slideBlocks=document.getElementsByClassName("slideblocks");
            var current = 0;
            var arrowLeft = document.getElementById("prevbtn"),
            arrowRight = document.getElementById("nextbtn");

            //init slider
            reset();
            slideBlocks[0].style.display = "block";


            function reset() {
                for (let i = 0; i < slideBlocks.length; i++) {
                    slideBlocks[i].style.display = "none";
                }
            }


            // Left arrow click
             arrowLeft.addEventListener("click", function() {
            if (current === 0) {
                current = slideBlocks.length;
            }
            slideLeft();
            });

            // Right arrow click
            arrowRight.addEventListener("click", function() {
            if (current === slideBlocks.length - 1) {
                current = -1;
            }
            slideRight();
            });

            

            // Show prev
            function slideLeft() {
                reset();
                current--;
                slideBlocks[current].style.display = "block";
            }

            // Show next
            function slideRight() {
                reset();
                current++;
                slideBlocks[current].style.display = "block";
            }

           
            
    </script>
</body>
</html>